asgiref==3.6.0
astroid==2.15.2
attrs==22.2.0
certifi==2022.12.7
cfgv==3.3.1
charset-normalizer==3.1.0
dill==0.3.6
distlib==0.3.6
Django==3.2.14
django-cors-headers==3.14.0
django-querycount==0.8.3
django-restframework==0.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.26.1
filelock==3.10.7
gunicorn==20.1.0
identify==2.5.22
idna==3.4
inflection==0.5.1
isort==5.12.0
jsonschema==4.17.3
lazy-object-proxy==1.9.0
mccabe==0.7.0
mysqlclient==2.0.3
nodeenv==1.7.0
platformdirs==3.2.0
pre-commit==3.2.1
pycryptodome==3.17
PyJWT==2.6.0
pylint==2.17.2
pylint-django==2.5.3
pylint-plugin-utils==0.7
pyrsistent==0.19.3
pytz==2023.3
PyYAML==6.0
requests==2.28.2
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.7
typing_extensions==4.5.0
uritemplate==4.1.1
urllib3==1.26.15
virtualenv==20.21.0
wrapt==1.15.0
